@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y3t03w');
  src:  url('fonts/icomoon.eot?y3t03w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y3t03w') format('truetype'),
    url('fonts/icomoon.woff?y3t03w') format('woff'),
    url('fonts/icomoon.svg?y3t03w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e91f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
