

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 15px;
}

.colum1 p{
    font-size: 12px;
    color: #FFBF00;
    text-align: justify;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 15px;
 margin-top: 0px;

  
}
.colum2 a{
    position: relative;
    top: 20px;
  padding-left: 15px;
  left: -20px;




}


.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 15px;
}
.colum3 a{
    position: relative;
    top: 20px;
}







.container-footer{
    width: 100%;  
    background: black;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;

  
}

.copyright{
    color: #FFBF00;
    font-size: 12px;

}
.information a:hover{
    color: white;
}

.copyright a{
    text-decoration: none;
    color: #FFBF00;
    font-weight: bold;
    font-size: 12px;
}

.information a{
    text-decoration: none;
    color: #FFBF00;
    font-size: 12px;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
    

}













